.background-red {
  background-color: var(--color-red);

  & * {
    color: var(--color-antique);
  }
}

.background-blue {
  background-color: var(--color-blue);
}

.background-orange {
  background-color: var(--color-orange);
}

.background-gray {
  background-color: var(--color-gray);

  & * {
    color: var(--color-antique);
  }
}