.color_gray {
  stroke: var(--color-gray);
}

.color_red {
  stroke: var(--color-red);
}

.color_blue {
  stroke: var(--color-blue);
}

.color_orange {
  stroke: var(--color-orange);
}

.color_antique {
  stroke: var(--color-antique);
}

.color_white {
  stroke: var(--color-white);
}