@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  position: relative;
  margin-bottom: calc(2 * var(--base));
}

.richText {
  z-index: -1;
  animation-name: fadeInUp;
  animation-duration: 700ms;
  animation-delay: 200ms;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.mediaWrapper {
  position: absolute;
  max-height: 70vh;
  top: 0;
  right: 0;
  z-index: -1;
  animation-name: fadeInUp;
  animation-duration: 700ms;
  animation-delay: 200ms;
  animation-timing-function: ease;
  animation-fill-mode: both;
}