@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;

:root {
  --base: 20px;
  --html-font-size: 18px;
  // --font-body: Geist;
  // --font-mono: 'Roboto Mono', monospace;

  --grid-container-width: 920px;
  --grid-overflow: calc(var(--base) * 6);

  --header-height: calc(var(--base) * 7);

  --stroke-size: 3px;
  --gutter-width: calc(var(--base) * 7);

  --padding-small: calc(2 * var(--base));
  --padding-medium: calc(7 * var(--base));
  --padding-large: calc(12 * var(--base));

  --overlap-small: calc(3 * var(--base));
  --overlap-medium: calc(8 * var(--base));
  --overlap-large: calc(12 * var(--base));

  --zIndex-page: 10;
  --zIndex-modal: 20;
  --zIndex-header: 30;

  @include large-break {
    --gutter-h: 144px;
    --block-padding: 96px;
  }

  @include mid-break {
    --gutter-h: 24px;
    --block-padding: 60px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @extend %body;
  background: var(--color-antique);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  // opacity: 0;
}

body {
  height: 100%;
}

::selection {
  background: var(--theme-success-500);
  color: var(--color-base-800);
}

::-moz-selection {
  background: var(--theme-success-500);
  color: var(--color-base-800);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  margin: var(--base) 0;

  @include mid-break {
    margin: calc(var(--base) * .75) 0;
  }
}

.body {
  @extend %body;
}

.large_body {
  @extend %large-body
}

ul,
ol {
  margin: 0 0 0 var(--base);
  padding: 0 0 var(--base) 0;
}

li {
  @extend %body;
}

a {
  color: currentColor;

  &:focus {
    // opacity: .8;
    outline: none;
  }

  &:active {
    // opacity: .7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

button {
  border: none;
  background-color: transparent;
}

.label {
  @extend %label;
}

.paddingTop {
  padding-top: var(--header-height);
}

.modals__modal-item {
  opacity: 0;
  transition: opacity 200ms linear;
}

.modals__modal-item--enterActive {
  opacity: 1;
}

.modals__modal-item--enterDone {
  opacity: 1;
}