@use 'queries' as *;

%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
  font-weight: 700;
}

%h1 {
  font-size: calc(5 * var(--base));
  line-height: calc(5 * var(--base));
  margin: calc(1.4 * var(--base)) 0;

  // @include mid-break {
  //   margin: 24px 0;
  //   font-size: 42px;
  //   line-height: 42px;
  // }
}

%h2 {
  font-size: calc(4.25 * var(--base));
  line-height: calc(5 * var(--base));
  margin: calc(1.25 * var(--base)) 0;

  // @include mid-break {
  //   margin: 22px 0;
  //   font-size: 32px;
  //   line-height: 40px;
  // }
}

%h3 {
  font-size: calc(3.5 * var(--base));
  line-height: calc(5 * var(--base));
  // margin: calc(0.7 * var(--base)) 0;

  // @include mid-break {
  //   margin: 20px 0;
  //   font-size: 26px;
  //   line-height: 32px;
  // }
}

%h4 {
  font-size: calc(2.25 * var(--base));
  line-height: calc(2.5 * var(--base));
  margin: var(--base) 0;

  // @include mid-break {
  //   font-size: 22px;
  //   line-height: 30px;
  // }
}

%h5 {
  font-size: calc(1.625 * var(--base));
  line-height: calc(2.25 * var(--base));
  margin: var(--base) 0;

  // @include mid-break {
  //   font-size: 18px;
  //   line-height: 24px;
  // }
}

%h6 {
  font-size: inherit;
  line-height: inherit;
  margin: var(--base) 0;
}

%body {
  font-size: var(--html-font-size);
  line-height: calc(1.5 * var(--base));
  // @include mid-break {
  //   font-size: 15px;
  //   line-height: 24px;
  // }
}

%large-body {
  font-size: calc(1.25 * var(--base));
  line-height: calc(2.25 * var(--base));
  margin: calc(0.5 * var(--base)) 0;

  @include mid-break {
    font-size: 22px;
    line-height: 30px;
  }
}

%label {
  font-size: 15px;
  line-height: calc(2.4 * var(--base));
  letter-spacing: 2.5px;
  text-transform: uppercase;

  @include mid-break {
    font-size: 13px;
  }
}