.top-small {
  padding-top: var(--padding-small);
}

.top-medium {
  padding-top: var(--padding-medium);
}

.top-large {
  padding-top: var(--padding-large);
}

.bottom-small {
  padding-bottom: var(--padding-small);
}

.bottom-medium {
  padding-bottom: var(--padding-medium);
}

.bottom-large {
  padding-bottom: var(--padding-large);
}