@import '../../_css/type.scss';

.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  padding: .4rem 2.2rem;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border: 2px solid;
  border-radius: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {
    margin-right: calc(var(--base) / 2);
    width: var(--base);
    height: var(--base);
  }
}

.label {
  @extend %label;
  text-align: center;
  display: flex;
  align-items: center;
}

.appearance--primary {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  color: var(--color-antique);
}

.appearance--secondary {
  background-color: transparent;
  border-color: var(--color-gray);
}

.primary--invert {
  background-color: var(--color-antique);
  border-color: var(--color-antique);
  color: var(--color-gray);
}

.secondary--invert {
  border-color: var(--color-antique);
  color: var(--color-antique);
}

.appearance--default {
  padding: 0;
  color: var(--color-gray);
}

.appearance--none {
  padding: 0;
  color: var(--color-gray);

  &:local() {
    .label {
      text-transform: none;
      line-height: inherit;
      font-size: inherit;
    }
  }
}