.wrapper {
  width: calc(35 * var(--base));
  height: calc(35 * var(--base));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--base);
  color: var(--color-antique);
  background-color: var(--color-gray);
  border-radius: 100%;
  font-size: calc(1.4 * var(--base));
  opacity: 0;
  transition: opacity 800ms ease;

  & div {
    margin: 0;

    &:first-child {
      margin-bottom: calc(1.2 * var(--base));
      font-size: calc(2.5 * var(--base));
    }
  }

  &.hasRendered {
    opacity: 1;
  }
}