// @use '../../_css/queries.scss' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(2 * var(--base));
  z-index: var(--zIndex-header);
  pointer-events: none;
}

.logoBox {
  padding: calc(0.75 * var(--base));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
  pointer-events: all;
  cursor: pointer;
}

.logo {
  display: block;
  width: calc(1.5 * var(--base));
  height: calc(1.5 * var(--base));
}

.menuButton {
  padding: calc(0.75 * var(--base));
  width: calc(3 * var(--base));
  height: calc(3 * var(--base));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: 20rem;
  cursor: pointer;
  pointer-events: all;
  box-shadow: inset 0 0 0 var(--stroke-size) var(--color-gray);
  transition: all 200ms linear;

  &:hover {
    outline: none;
  }

  &:active {
    outline: none;
  }

  &.active {
    box-shadow: inset 0 0 0 var(--stroke-size) var(--color-white);
  }
}